@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Quicksand:700,400,300');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400italic,700');

h3 {
	font-weight:400;
	text-transform:uppercase;
	color:#929292;
	font-family: 'Oswald', sans-serif;
	margin-top:30px;
	letter-spacing: 0.8px;
}


/* html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	border: none;
	color:#656666;
	 position: relative; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#2E343C;
}

p {
	font-size: 16px;
	font-weight:500;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	color:#656666;
}

a{
	color:#ff6633;
	background:none;
	text-decoration: none;
	outline: none;
}

a:hover,  a:active,  a:focus {
	color:#ff6633;
	text-decoration: none;
	outline: none;
}

::selection {
	background:#ff6633;
	color:#FFF;
}

::-moz-selection{
	background:#ff6633;
	color:#FFF;
}

img{
	max-width:100%;
} */


/*-----------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------*/

.inner-footer{
	background:#181818;
	padding:50px 0px 20px;
}

.inner-footer h3 {
    color: #A5A2A2;
    font-size: 20px;
	text-transform:none;
    margin-bottom: 10px;
}

.inner-footer p{
	color:#666;
	font-size: 14px;
}

.footer-social{
	margin-top:20px;
}

.footer-social ul{
	margin:0px;
	padding:0px;
}

.footer-social ul li{
	display:inline-block;
	list-style:none;
}

.footer-social ul li a{
	height: 33px;
	width: 33px;
	line-height: 33px;
	margin: 0px 5px 5px 15px;
	font-size: 16px;
	background-color: #333;
	display:inline-block;
	text-align:center;
	color:#FFF;
	transition: all 0.5s ease 0s;
}

.footer-social ul li a:hover{
	background:#ff6633;
}

.inner-footer .about, .inner-footer .post, .inner-footer .contact, .inner-footer .newsletter{
	margin-bottom:20px;
}
.inner-footer .post ul li{
	margin-bottom:10px;
	list-style:none;
	display:block;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.2);
	overflow: hidden;
}

.inner-footer .post ul li:after{
    width: 100%;
    content: "";
    border-bottom: 1px solid rgba(255,255,255,.05);
    position: absolute;
    bottom: 0;
    left: 0;
}

.inner-footer .post ul li a{
	font-size:15px;
	color:#C5C5C5;
	line-height: 25px;
	display:block;
}

.inner-footer .post ul li span{
	color:#838383;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

.inner-footer .contact{
	background:url(../img/footer-map.png) no-repeat center center;
	min-height: 188px;
}

.inner-footer .contact ul{
	margin:0px;
	padding:0px;
}

.inner-footer .contact ul li {
    list-style: outside none none;
    display: block;
    overflow: hidden;
    color: #8F8F8F;
    margin-bottom: 10px;
	font-size: 14px;
    line-height: 24px;
	letter-spacing:0.5px;
	font-family: 'Open Sans', sans-serif;
}

.inner-footer .contact ul li span {
	margin-right: 18px;
	font-size: 16px;
	line-height: 29px;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
	text-align: center;
	float: left;
	display: block;
}

.newsletter p {
	margin-bottom: 10px;
}

.newsletter form {
	position: relative;
}

.newsletter input.form-control {
    background:transparent;
	border-color:#474545;
	color:#ccc;
}

.newsletter form .btn {
    border: 2px solid #3C3C3C;
	background:#3C3C3C;
}

.newsletter form .btn:hover {
	border:2px solid #ff6633;
	background:#ff6633;
}

.sub-footer{
	background:#181818;
	padding:20px 0px 10px;
	position:relative;
	overflow:hidden;
	border-top: 1px solid rgba(0,0,0,.4);
	border-bottom:4px solid #ff6633;
}

.sub-footer:before {
    width: 100%;
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 0px;
    left: 0px;
}

.sub-footer p{
	color:#8F8F8F;
	font-size:13px;
}

.footer-menu ul{
	margin:0px;
	padding:0px;
	float:right;
}

.footer-menu ul li{
	display:inline-block;
	list-style:none;
	margin-left: 12px;
}

.footer-menu ul li a{
	font-size:13px;
	line-height:25px;
	color:#8F8F8F;
	display:inline-block;
}

.footer-menu ul li a:hover{
	color:#ff6633;
}


